<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="shortcut icon" href="../images/logo_alexander.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../images/logo_alexander.jpg" width="93px" height="93px" alt="logo">
            <h1 style="color: #F0E6D2">Portifólio</h1>         
        </div>
        <hr style="background-color: #C89B3C; border-color: black;">
    </nav>

    <section style="display: flex; justify-content: center;">
        <div class="image-class">
            <img class="image-perfil" src="../images/foto_alex2.jpeg" alt="">
        </div>
    </section>

    <main>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>
        <p>Opa, tudo certo? aqui é o Alexander</p>
        <p>Este é meu portifólio, fique a vontade!</p>

    </main>

    <script>
        ScrollReveal().reveal('.image-class', { 
          distance: '50px',
          duration: 500,
          easing: 'ease-in',
          origin: 'bottom',
          reset: true,
          scale: 0.9,
          viewFactor: 0.4
        });
        var prevScrollpos = window.pageYOffset;
      </script>
</body>
</html>